.header-title {
	margin-block: 2rem;
	text-align: center;
}

.product-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.product-box__item {
	background-color: var(--white);
	border-radius: 0 20px 20px 20px;
	box-shadow: 0 0 20px -3px var(--black);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 1rem;
	max-width: 300px;
	padding: 2rem 1rem;
	width: 100%;
}

.product-box__image {
	margin: 0 auto;
	width: fit-content;
}

.product-box__name {
	cursor: default;
	display: block;
	font-size: 1rem;
	font-weight: 600;
	margin-block: 1rem;
}

.product-box__info {
	display: flex;
	justify-content: space-between;
}

.product-box__price {
	color: var(--gray);
	cursor: default;
	display: block;
	font-size: 1.5rem;
}

.product-box__price-sign {
	font-size: 0.9rem;
}

.product-count {
	border-radius: 5px;
	display: flex;
	width: fit-content;
}

.product-count__screen {
	align-items: center;
	border-block: 1px solid var(--gray);
	display: flex;
	justify-content: center;
	padding-inline: 0.65rem;
	user-select: none;
}

.product-count__minus,
.product-count__plus {
	align-items: center;
	border: none;
	color: var(--white);
	display: flex;
	font-size: 1.30rem;
	font-weight: 500;
	height: 30px;
	justify-content: center;
	padding: 0.5rem;
	text-align: center;
	width: 30px;
}

.product-count__minus {
	background-color: var(--red);
	border-radius: 5px 0 0 5px;
}

.product-count__plus {
	background-color: var(--green);
	border-radius: 0 5px 5px 0;
}

.product-box__button {
	background-color: var(--green);
	border-radius: 0 20px 20px 20px;
	border: 0;
	color: var(--white);
	font-weight: 600;
	padding: 0.75rem 1.25rem;
	width: 100px;
}