.footer {
	background-color: var(--black);
	flex-shrink: 0;
	padding-block: 3rem;
}

.footer__text {
	color: var(--white);
	font-size: clamp(0.85rem, 1vw, 2rem);
	padding-block: 0.35rem;
	text-align: center;
}